# -*- mode: ruby -*-
# vi: set ft=ruby :

require_relative 'vagrant.rb'

Vagrant.configure("2") do |config|
  config.vm.provider 'virtualbox' do |v|
      v.linked_clone = true if Vagrant::VERSION =~ /^1.8/
  end
  if Vagrant.has_plugin?("vagrant-cachier")
    config.cache.scope = :box
  end

### Platforms

{%- for platform in platforms %}
platform(config, '{{ platform -}}')
{% endfor -%}

### END Platforms

end
